form(method='POST', action=`${course.path}`)
    .mb-3
        label.form-label(for='nameCourse') Tên khóa học
        input#nameCourse.form-control(
            type='string',
            name='name',
            value=`${course.name ? course.name : ''}`
        )
    .mb-3
        label.form-label(for='discriptionCourse') Mô tả
        textarea#discriptionCourse.form-control(name='description') #{ course.description ? course.description : '' }
    .mb-3
        label.form-label(for='imgCourse') Hình ảnh link
        input#imgCourse.form-control(
            type='text',
            name='img',
            value=course.img ? course.img : ''
        )
    .mb-3
        label.form-label(for='videoID') VideoID
        input#videoID.form-control(
            type='text',
            name='videoID',
            value=course.videoID ? course.videoID : ''
        )
    button.btn.btn-primary(type='submit') Lưu lại
