form(method='POST', action='/course/form-action')
    h1 Khoá học của tôi
    a(href='me/trash')
        svg.bi.bi-trash(
            xmlns='http://www.w3.org/2000/svg',
            width='20',
            height='20',
            fill='currentColor',
            viewbox='0 0 16 16'
        )
            path(
                d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z'
            )
            path(
                d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z'
            )
        span.ms-1 Thùng rác

    .form-check.d-flex.align-items-center.mt-3
        input#checkbox-all.form-check-input(type='checkbox', value='')
        label.form-check-label.ms-2(for='checkbox-all')
            Default Chọn tất cả
        select#actionSelect.form-select.width-select.ms-2(name='action')
            option(selected='', value='') -- Hành động --
            option(value='delete') Xoá
        button.btn.btn-primary.ms-2.render-submit-btn.disabled(type='submit') Thực hiện

    table.table
        thead
            tr
                th(scope='col')
                th(scope='col') #
                th(scope='col') Tên khoá học
                    != sortable.setPug('name')
                th(scope='col') Thời gian bắt đầu học
                    != sortable.setPug('createdAt')
                th(scope='col') Thời gian cập nhật
                    != sortable.setPug('updatedAt')
                th(scope='col')
        tbody
        each item in course
            tr
                td
                    input.form-check-input(
                        type='checkbox',
                        name='courseIDs[]',
                        value=`${item.id}`
                    )
                th(scope='row') #{ item.displayIndex }
                td #{ item.name }
                td #{ item.createdAtPug }
                td #{ item.updatedAtPug }
                td
                    a.btn-link(type='button', href=`/course/${item.id}/edit`) Sửa

                    a.btn-link.ms-3(
                        type='button',
                        data-bs-toggle='modal',
                        data-bs-target='#deleteModal',
                        data-id=`${item.id}`
                    ) Xoá

form(method='POST', name='delete-course-form') 

#deleteModal.modal.fade(
    tabindex='-1',
    aria-labelledby='exampleModalLabel',
    aria-hidden='true'
)
    .modal-dialog
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Thông báo
                button.btn-close(
                    type='button',
                    data-bs-dismiss='modal',
                    aria-label='Close'
                )
            .modal-body Bạn muốn xoá chứ?
            .modal-footer
                button.btn.btn-danger.btn-delete.btn-delete__confirm(
                    type='button'
                ) Xoá
                button.btn.btn-primary(type='button', data-bs-dismiss='modal') Không

script.
    var myModal = document.getElementById('deleteModal');
    var actionSelect = document.getElementById('actionSelect');
    var deleteConfirmOnModalBtn = document.querySelector('.btn-delete__confirm');
    var deleteCourseForm = document.forms['delete-course-form'];
    var checkboxAll = document.getElementById('checkbox-all');
    var courseItemCheckboxNodelist = document.querySelectorAll("input[name='courseIDs[]']");
    // Spread operator
    var courseItemCheckbox = [...courseItemCheckboxNodelist];
    var renderSelectSubmitBtn = document.querySelector('.render-submit-btn');

    myModal.addEventListener('shown.bs.modal', function () {
        // Lấy từ data-id trên thẻ HTML
        var id = event.relatedTarget.dataset.id;
        deleteConfirmOnModalBtn.addEventListener('click', function () {
            deleteCourseForm.action = `/course/${id}/delete`;
            deleteCourseForm.submit();
        });
    });

    checkboxAll.addEventListener('change', function () {
        var isCheckedAll = this.checked;
        courseItemCheckbox.forEach((x) => (x.checked = isCheckedAll));
        renderCheckSubmitBtn();
    });

    courseItemCheckbox.forEach((x) => {
        x.addEventListener('change', function () {
            // Kiểm tra xem có item nào chưa được check => return: true,
            // Nếu toàn bộ item được check => return: false,
            var isNotCheckedAll = courseItemCheckbox.some((y) => y.checked === false);
            checkboxAll.checked = !isNotCheckedAll;
            renderCheckSubmitBtn();
        });
    });

    actionSelect.addEventListener('change', function () {
        renderCheckSubmitBtn();
    });

    function renderCheckSubmitBtn() {
        var isChecked = courseItemCheckbox.some((y) => y.checked === true);
        if (isChecked && actionSelect.value) {
            renderSelectSubmitBtn.classList.remove('disabled');
        } else renderSelectSubmitBtn.classList.add('disabled');
    }
