a(href='/me') Trở về danh sách khoá học
h1 Khoá học đã xoá
table.table
    thead
        tr
            th(scope='col') #
            th(scope='col') Tên khoá học
            th(scope='col') Thời gian bắt đầu học
            th(scope='col') Thời gian cập nhật
            th(scope='col')
    tbody
    each item in course
        tr
            th(scope='row') #{ item.displayIndex }
            td #{ item.name }
            td #{ item.createdAtPug }
            td #{ item.updatedAtPug }
            td
                a.btn-link.btn-restore(type='button', data-id=`${item.id}`) Khôi phục

                a.btn-link.ms-3.btn-delete(
                    type='submit',
                    data-bs-toggle='modal',
                    data-bs-target='#deleteModal',
                    data-id=`${item.id}`
                ) Xoá vĩnh viễn

form(method='POST', name='restore-course-form')
form(method='POST', name='delete-course-form')

#deleteModal.modal.fade(
    tabindex='-1',
    aria-labelledby='exampleModalLabel',
    aria-hidden='true'
)
    .modal-dialog
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Thông báo
                button.btn-close(
                    type='button',
                    data-bs-dismiss='modal',
                    aria-label='Close'
                )
            .modal-body Việc này sẽ không thể khôi phục lại dữ liệu, bạn muốn xoá vĩnh viễn chứ?
            .modal-footer
                button.btn.btn-danger.btn-delete.btn-delete__confirm(
                    type='button'
                ) Xoá vĩnh viễn
                button.btn.btn-primary(type='button', data-bs-dismiss='modal') Không

script.
    var myModal = document.getElementById('deleteModal');
    var btnDeleteConfirm = document.querySelector('.btn-delete__confirm');
    var deleteCourseForm = document.forms['delete-course-form'];
    var restoreCourseForm = document.forms['restore-course-form'];
    var restoreBtns = document.querySelectorAll('.btn-restore');
    var deleteBtns = document.querySelectorAll('.btn-delete');

    restoreBtnArray = Array.from(restoreBtns);
    restoreBtnArray.map((x) =>
        x.addEventListener('click', function () {
            var id = this.dataset.id;
            restoreCourseForm.action = `/me/trash/${id}/restore`;
            // Gửi ID sang Controller
            restoreCourseForm.submit();
        })
    );

    myModal.addEventListener('shown.bs.modal', function () {
        var id = event.relatedTarget.dataset.id;
        btnDeleteConfirm.addEventListener('click', function () {
            deleteCourseForm.action = `/course/${id}/force`;
            deleteCourseForm.submit();
        });
    });
