nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='/') Navbar
        button.navbar-toggler(
            type='button',
            data-bs-toggle='collapse',
            data-bs-target='#navbarNav',
            aria-controls='navbarNav',
            aria-expanded='false',
            aria-label='Toggle navigation'
        )
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.ms-auto
                li.nav-item
                    a.nav-link.active(aria-current='page', href='/') Home
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(
                        href='#',
                        role='button',
                        data-bs-toggle='dropdown',
                        aria-expanded='false'
                    )
                        | Me
                    ul.dropdown-menu(aria-labelledby='navbarDropdown')
                        li
                            a.dropdown-item(href='/me') Khoá học của tôi
                        li
                            a.dropdown-item(href='/create') Tạo khoá học
                        li
                            hr.dropdown-divider
                        li
                            a.dropdown-item(href='#') Bài viết của tôi
